#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.map-box {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #f5f5f5;
  overflow: hidden;
}

.country-geo {
  -webkit-tap-highlight-color: transparent;
}

.country-geo:focus {
  outline: none;
}

