#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.map-box {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #f5f5f5;
  overflow: hidden;
}

.country-geo {
  -webkit-tap-highlight-color: transparent;
}

.country-geo:focus {
  outline: none;
}

.landing-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.landing-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.landing-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-items: center;
  row-gap: 20px;
  display: grid;
}

.landing-heading {
  color: #FFF;

  /* Heading */
  font-family: var(--sds-typography-heading-font-family);
  font-size: var(--sds-typography-heading-size-base);
  font-style: normal;
  font-weight: var(--sds-typography-heading-font-weight);
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
}

.landing-subtitle {
  color: #FFF;
  text-align: center;

  /* Body Base */
  font-family: var(--sds-typography-body-font-family);
  font-size: var(--sds-typography-body-size-medium);
  font-style: normal;
  font-weight: var(--sds-typography-body-font-weight-regular);
  line-height: 140%; /* 22.4px */
}

.community-center-title {
  color: #000;
  text-align: center;

  /* Heading */
  font-family: var(--sds-typography-heading-font-family);
  font-size: var(--sds-typography-heading-size-base);
  font-style: normal;
  font-weight: var(--sds-typography-heading-font-weight);
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
}